body {
  background-color: #e8e8e2;
}

.discount-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .discount-section {
    padding: 32px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-section {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 100px;
  }
}

/* .discount-product-container {
  padding: 40px 20px;
} */

.discount-product-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 20px;
  margin-right: 100px;
}

@media screen and (min-width: 375px) {
  .discount-product-title {
    font-size: 24px;
    margin-right: 143px;
  }
}

@media screen and (min-width: 768px) {
  .discount-product-title {
    font-size: 28px;
    line-height: 1.14;
    margin-right: 480px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-product-title {
    font-size: 28px;
    line-height: 1.14;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .discount-product-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-product-list {
    display: block;
  }
}

.discount-product-element {
  position: relative;
  padding: 16px;
  border-radius: 15px;
  background: #fafafa;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .discount-product-element {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-product-element {
    margin-bottom: 20px;
  }
}

.discount-product-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 95px;
  border-radius: 10px;
  background: #e8e8e2;
  margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .discount-product-img-wrapper {
    padding: 23px 69px;
  }
}

.discount-product-img {
}
.discount-product-descr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount-product-name-wrapper {
}
.discount-product-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

@media screen and (min-width: 768px) {
  .discount-product-name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.discount-product-price-wrapper {
  display: flex;
  align-items: center;
}
.discount-product-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .discount-product-price {
    font-size: 20px;
    line-height: 1.2;
  }
}

.discount-product-btn {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  background: #6d8434;
}

.discount-product-icon {
  width: 18px;
  height: 18px;
  fill: #e8e8e2;
}

/* doscount-label */

.discount-label {
  position: absolute;
  top: 3px;
  right: 10px;
}

@media screen and (min-width: 1440px) {
  .discount-label {
    top: -3px;
  }
}
