.form {
  position: relative;
  margin-top: 8px;
}

.form-label {
  color: rgba(1, 1, 1, 0.3);

  font-size: 14px;
  line-height: 1.28;
}

.filter-input-wrapper {
  position: relative;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .filter-input-wrapper,
  .ss-main.categories-select {
    margin: 0 !important;
  }
}

.form {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
    gap: 8px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    width: 674px;
    padding: 0;
  }
}

.filters-input {
  padding-left: 20px;
  padding-right: 50px;
  height: 48px;
  width: 100%;

  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .filters-input {
    width: 269px;
  }
}

.filters-input:hover,
.filters-input:focus {
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
}

.filters-input::placeholder {
  color: #010101;

  font-size: 14px;
  line-height: 1.28;
}

.search-btn {
  position: absolute;
  top: 2px;
  right: 20px;

  padding: 0;
  height: 44px;
  width: 30px;

  border: none;
  background-color: transparent;
}

.ss-main.categories-select {
  height: 48px;
  margin-bottom: 12px;

  background: #e8e8e2;
  border: 1px solid rgba(1, 1, 1, 0.3);
  border-radius: 30px;
}

.ss-values {
  padding-left: 20px;
}

.ss-main.categories-select {
  border-radius: 30px !important;
  border: 1px solid rgba(1, 1, 1, 0.3);
}

.ss-main.categories-select.ss-open-below {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.ss-main.filters-select {
  height: 48px;

  border-radius: 30px !important;
  border: 1px solid rgba(1, 1, 1, 0.3);
}

.ss-open-below {
  border-radius: 15px !important;
}

.ss-content.ss-open-below {
  padding: 14px 20px;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ss-content.ss-open-above {
  padding: 14px 20px;

  border-radius: 15px;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

.ss-main .ss-arrow {
  margin-right: 20px !important;
}

.ss-placeholder {
  color: #010101 !important;

  font-size: 14px;
  line-height: 1.28 !important;
}

.ss-main .ss-values .ss-placeholder {
  padding-left: 0;
}

.ss-main .ss-values .ss-single {
  color: #010101;

  font-size: 14px;
  line-height: 1.28;
}

.ss-main:hover,
.ss-main:focus {
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.4) !important;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: #010101 !important;
  background-color: #fff !important;
}

.ss-content .ss-list .ss-option {
  color: rgba(1, 1, 1, 0.5) !important;

  font-size: 14px;
  line-height: 1.28;
}

.ss-content .ss-list .ss-option:hover,
.ss-content .ss-list .ss-option:focus {
  color: #010101 !important;
  background-color: transparent !important;
}

/* МЕДИАПРАВИЛА ДЛЯ ВЫПАДАЮЩИХ СПИСКОВ СЕЛЕКТА  */

/* below categories */
.ss-content.categories-select.ss-open-below {
  top: 806.312px !important;
}

@media screen and (min-width: 375px) {
  .ss-content.categories-select.ss-open-below {
    top: 959.55px !important;
  }
}

@media screen and (min-width: 768px) {
  .ss-content.categories-select.ss-open-below {
    top: 1184.83px !important;
  }
}

@media screen and (min-width: 1440px) {
  .ss-content.categories-select.ss-open-below {
    top: 861.825px !important;
  }
}

/* below filters */
.ss-content.filters-select.ss-open-below {
  top: 866.238px !important;
}

@media screen and (min-width: 375px) {
  .ss-content.filters-select.ss-open-below {
    top: 1019.55px !important;
  }
}

@media screen and (min-width: 768px) {
  .ss-content.filters-select.ss-open-below {
    top: 1184.83px !important;
  }
}

@media screen and (min-width: 1440px) {
  .ss-content.filters-select.ss-open-below {
    top: 861.825px !important;
  }
}

/* above categories */
.ss-content.categories-select.ss-open-above {
  top: 790.238px !important;
}

@media screen and (min-width: 375px) {
  .ss-content.categories-select.ss-open-above {
    top: 943.55px !important;
  }
}

@media screen and (min-width: 768px) {
  .ss-content.categories-select.ss-open-above {
    top: 1168.83px !important;
  }
}

@media screen and (min-width: 1440px) {
  .ss-content.categories-select.ss-open-above {
    top: 845.825px !important;
  }
}

/* above filters */
.ss-content.filters-select.ss-open-above {
  top: 850.238px !important;
}

@media screen and (min-width: 375px) {
  .ss-content.filters-select.ss-open-above {
    top: 1003.55px !important;
  }
}

@media screen and (min-width: 768px) {
  .ss-content.filters-select.ss-open-above {
    top: 1168.83px !important;
  }
}

@media screen and (min-width: 1440px) {
  .ss-content.filters-select.ss-open-above {
    top: 845.825px !important;
  }
}

/* СТИЛИ ДЛЯ notFoundMarkup() */

.notFound_box {
  text-align: center;
  padding: 40px 0;
}

@media screen and (min-width: 375px) {
  .notFound_box {
    padding: 60px 28px;
  }
}

@media screen and (min-width: 768px) {
  .notFound_box {
    padding-right: 0;
    padding-left: 0;
    padding-top: 110px;
    padding-bottom: 200px;
    margin: 0 auto;
    width: 367px;
  }
}

@media screen and (min-width: 1440px) {
  .notFound_box {
    padding-top: 140px;
    padding-bottom: 0;
    margin-left: 250px;
  }
}

.notFound_title {
  margin-bottom: 14px;

  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

@media screen and (min-width: 375px) {
  .notFound_title {
    padding: 0 9px;
  }
}

@media screen and (min-width: 768px) {
  .notFound_title {
    padding: 0;
    font-size: 20px;
    line-height: 1.2;
  }
}

.notFound_title_span {
  color: #6d8434;
}

.notFound_text {
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .notFound_text {
    font-size: 18px;
    line-height: 1.3;
  }
}
