.filters-form-container {
    background-color: #E8E8E2;
    font-family: Neue Montreal;

}

.filters-form-label {
    color: rgba(1, 1, 1, 0.30);
    font-size: 14px;
    line-height: 1.28;
}

.filters-form {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 8px;
}

.filters-select1,
.filters-select2,
.filters-input {
    display: block;
    width: 100%;
}

.filters-input {
    padding: 15px 50px 15px 20px;
    
    border-radius: 30px;
    border: 1px solid rgba(1, 1, 1, 0.30);
    background-color: transparent;
}

.filters-input::placeholder {
    color: #010101;
    font-size: 14px;
    line-height: 1.28;
}

.filters-button {
    position: absolute;
    top: 2px;
    right: 20px;

    padding: 0;
    height: 44px;
    width: 30px;

    border: none;
    background-color: #E8E8E2;;
}
