.hero {
    max-width: 768px; 
    background-color: #E8E8E2;
    padding: 128px 20px;
    margin: 0 auto;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 1150px ; 
        padding: 188px 55px;
    }
}

@media screen and (min-width: 1150px) {
     .hero {
        max-width: 1440px; 
        padding: 149px 199px;
    }
}

.container-hero {
 max-width: 335px;
}

@media screen and (min-width: 768px) {
    .container-hero {
        max-width: 658px;
    }
}

@media screen and (min-width: 1150px) {
    .container-hero {
        max-width: 1042px;
    }
}


.h-one-hero {
    font-family: "Neue Montreal", "Medium";
    font-size: 44px;
    font-weight: 500;
    line-height: 48px;
    max-width: 335px; 
    color: #1E1E1E;
    margin: 0 auto 16px;
}

@media screen and (min-width: 768px) {
    .h-one-hero {
        font-size: 80px;
        line-height: 80px;
        max-width: 658px; 
        margin: 0 auto 20px;
    }
}

@media screen and (min-width: 1150px) {
    .h-one-hero {
        max-width: 1042px; 
    }
}

.hero-green-food {
    color: #6D8434;
}

.p-two-hero {
    font-family: "Neue Montreal", 'Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    max-width: 292px;
    color: #010101;
    margin: 0 auto;
    
}

@media screen and (min-width: 768px) {
    .p-two-hero {
        font-size: 18px;
        line-height: 24px;
        max-width: 492px; 
    }
}

.hero-content {
    margin-top: 30px;
    background-color: #E8E8E2;
    position: relative;
}

@media screen and (min-width: 768px) {
    .hero-content {
     
    }
}

@media screen and (min-width: 1150px) {
    .hero-content {
       
    }
}

.hero-picture {
    border-radius: 20px;
}

.hero-organic-food {
    border-radius: 50px;
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    margin-top: -25px;
    margin-left: 227px;
}

@media screen and (min-width: 768px) {
    .hero-organic-food {
        margin-top: -10px;
        margin-left: 550px;
    }
}

@media screen and (min-width: 1150px) {
    .hero-organic-food {
        margin-top: -38px;
        margin-left: 930px;
    }
}