.tui-pagination .tui-first-child.tui-is-selected {
    border-radius: 50%;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-page-btn,
.tui-pagination .tui-first-child,
.tui-pagination .tui-is-selected,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
    border-radius: 50%;
    background: #FAFAFA;
    border: none !important;
}

/* .tui-pagination .tui-first-child, */
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
    background-color: transparent;
}

.tui-pagination .tui-is-selected {
    background: #6D8434 !important;
}

.tui-pagination .tui-first-child,
.tui-pagination .tui-page-btn {
    color: #A3A3A3 !important;
}

.tui-pagination .tui-is-selected, .tui-pagination strong {
    color: #E8E8E2 !important;
}

@media screen and (min-width: 375px) {

    .tui-pagination .tui-first,
    .tui-pagination .tui-prev,
    .tui-pagination .tui-next,
    .tui-pagination .tui-last,
    .tui-pagination .tui-page-btn,
    .tui-pagination .tui-first-child,
    .tui-pagination .tui-is-selected,
    .tui-pagination .tui-prev-is-ellip,
    .tui-pagination .tui-next-is-ellip {
        width: 36px !important;
        height: 36px !important;
    }
}

@media screen and (min-width: 375px) {

    .tui-first,
    .tui-prev,
    .tui-next,
    .tui-last,
    .tui-page-btn,
    .tui-first-child,
    .tui-is-selected,
    .tui-prev-is-ellip,
    .tui-next-is-ellip {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
    }
}

.tui-pagination .tui-first,
    .tui-pagination .tui-first-child.tui-is-selected,
    .tui-pagination .tui-page-btn {
        margin-right: 2px !important;
    }

@media screen and (min-width: 375px) {
    .tui-pagination .tui-first,
    .tui-pagination .tui-first-child.tui-is-selected,
    .tui-pagination .tui-page-btn {
        margin-right: 4px !important;
    }
}

.tui-pagination .tui-prev,
    .tui-pagination .tui-next-is-ellip {
        margin-right: 2px !important;
    }

@media screen and (min-width: 375px) {
    .tui-pagination .tui-prev,
    .tui-pagination .tui-next-is-ellip {
        margin-right: 8px !important;
    }
}

.tui-pagination .tui-next {
    margin-left: 0 !important;
}


