/* .pagination-container.pagination-container {
    margin-left: 100px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
} */

.tui-pagination .tui-first-child.tui-is-selected {
    border-radius: 50%;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-page-btn,
.tui-pagination .tui-first-child,
.tui-pagination .tui-is-selected,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
    border-radius: 60px;
    background: #FAFAFA;
}

