.popular-products {
  max-width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
  padding-bottom: 40px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .popular-products {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .popular-products {
    max-width: 768px;
    padding-top: 50px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.title-popular-product {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 20px;
}
.popular_products_list {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .popular_products_list {
    display: flex;
    width: 563px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
  }
}

.popular-card {
  /* width: 240px; */
  border-radius: 10px;
  background-color: #fafafa;
  padding: 8px;
  margin: 0;
}

.popular-card:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 375px) {
  .popular-card {
    width: 335px;
    padding: 14px;
  }
}

@media screen and (min-width: 768px) {
  .popular-card {
    width: calc((100% - 13px) / 2);
  }
  .popular-card:not(:last-child) {
    margin-bottom: 0;
  }
}

.popular-box {
  display: flex;
  justify-content: space-between;
}
.popular-wraper {
  display: flex;
}
.popular-container {
  width: 240px;
  display: flex;
  margin: 0;
}

@media screen and (min-width: 375px) {
  .popular-container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .popular-container {
    width: 563px;
    margin-left: 0;
    justify-content: flex-start;
  }
}

.popular-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .popular-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.popular-card-img-wrap {
  width: 74px;
  height: 74px;
  background: lightgray 50% / cover no-repeat;
  display: flex;
  align-items: center;
  padding: 9px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #e8e8e2;
}
.popular-info-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.popular-info-style {
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 17;
  gap: 9px;
}
span {
  color: #010101;
}
.popular-info-wraper {
  display: flex;
  gap: 9px;
}

.popular-card-btn {
  width: 20px;
  height: 20px;
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background-color: #e8e8e2;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.popular-icon {
  display: inline-block;
  width: 12px;
  height: 12px;

  fill: #6d8434;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.popular-card-btn:hover .popular-icon,
.popular-card-btn:focus .popular-icon,
.popular-card-btn:active .popular-icon {
  fill: #e8e8e2;
}
.popular-card-btn:hover,
.popular-card-btn:focus,
.popular-card-btn:active {
  background-color: #6d8434;
}

.popular-icon-check {
  stroke: #e8e8e2;
  fill: none;
  background-color: #6d8434;
  border-radius: 20px;
  border: solid #6d8434;
}

.popular-btn-check {
  width: 20px;
  height: 20px;
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: #6d8434;
  border: none;
}

.popular-btn-check:hover .popular-icon-check,
.popular-btn-check:focus .popular-icon-check,
.popular-btn-check:active .popular-icon-check {
  stroke: #e8e8e2;
}
.popular-btn-check:hover,
.popular-btn-check:focus,
.popular-btn-check:active {
  background-color: #6d8434;
}
