.container-products {
  max-width: 280px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container-products {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container-products {
    max-width: 768px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.card {
  position: relative;
  padding: 14px;
  border-radius: 20px;
  background-color: #fafafa;
}

@media screen and (min-width: 375px) {
  .card {
    padding: 20px;
  }
}

.card:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 375px) {
  .card:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: calc((100% - 32px) / 2);
  }
  .card:not(:last-child) {
    margin-bottom: 0;
  }
}

.card-top {
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
  .card-top {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .card-top {
    margin-bottom: 50px;
  }
}

.card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 34px;
  border-radius: 10px;
  background-color: var(--background);
  margin-bottom: 15px;
}

@media screen and (min-width: 375px) {
  .card-img-wrapper {
    padding: 18px 78px;
    margin-bottom: 20px;
  }
}

.card-product-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 8px;
}

@media screen and (min-width: 375px) {
  .card-product-name {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .card-product-name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card-prodcuts-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 375px) {
  .card-prodcuts-list {
    gap: 4px;
  }
}

.card-prodcuts-item {
  color: var(--lightGrey);
  font-size: 10px;
  line-height: 1.16;
}

@media screen and (min-width: 375px) {
  .card-prodcuts-item {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .card-product-name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card-prodcuts-item span {
  color: var(--black);
  font-size: 10px;
  line-height: 1.16;
  margin-left: 4px;
}

@media screen and (min-width: 375px) {
  .card-prodcuts-item span {
    font-size: 12px;
    margin-left: 4px;
  }
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-producs-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.11;
}

@media screen and (min-width: 375px) {
  .card-producs-price {
    font-size: 18px;
  }
}

.card-btn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #6d8434;
  border: none;

  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-btn:hover,
.card-btn:focus {
  background-color: #586f1f;
}

@media screen and (min-width: 375px) {
  .card-btn {
    width: 34px;
    height: 34px;
  }
}

.card-btn-icon {
  fill: var(--background);
}

.card-btn-icon-check {
  stroke: var(--background);
  fill: transparent;
}

/* discount */

.discount-icon {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 375px) {
  .discount-icon {
    width: 60px;
    height: 60px;
  }
}
