<section class="cart-section">
  <!-- Title -->
  <div class="container title-container">
    <a class="cart-logo-icon" href="./index.html">
      <svg class="" width="18px" height="18px">
        <use
          href="../css/images/sprite.svg#icon-heroicons-solid_shopping-cart"
        ></use>
      </svg>
    </a>
    <h1 class="cart-title">Cart</h1>
  </div>

  <!-- Product list -->
  <div class="product-list">
    <!-- Delete button -->
    <div class="delete-container">
      <button class="button-delete">
        Delete all
        <svg class="" width="24px" height="24px">
          <use href="../css/images/sprite.svg#icon-ion_close-sharp"></use>
        </svg>
      </button>
    </div>

    <!-- відмальовані продукти  -->
    <section class="popular-products">
        <h2>Popular Products</h2>
        <div class="product-container" id="productContainer"></div>
        <button id="fetchButton">Fetch Products</button>
    </section>
  </div>
</section>


