<header class="header">
  <div class="header-box container">
    <ul class="header-logo-list">
      <li class="header-logo-item">
        <a href="" class="header-logo-link">
          <svg class="header-logo-icon" width="20" height="20">
            <use href="./img/sprite.svg#cabbage"></use>
          </svg>
        </a>
      </li>
      <li class="header-logo-item">
        <a href="" class="header-logo-link">Food Boutique</a>
      </li>
    </ul>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#" class="header-nav-link header-nav-home">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-link link-icon">
            <svg class="header-nav-icon" width="18" height="18">
              <use href="./img/sprite.svg#cart"></use>
            </svg>
            <span class="cartValue">Cart (0)</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
