<header class="header">
  <div class="header-content container">
    <a href="./index.html" class="logo">
      <svg class="logo-icon">
        <use href="./img/sprite.svg#cabbage"></use>
      </svg>
      Food Boutique
    </a>

    <nav class="nav">
      <div class="nav-cart">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-item-home" href="./index.html">Home</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-item-cart" href="./cart.html">
              <svg class="cart-icon">
                <use href="./img/sprite.svg#cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
