<header class="header">
  <div class="header-content container">
    <ul class="logo-list">
      <li class="logo-item">
        <a href="../index.html" class="logo-link">
          <svg class="logo-icon" width="20" height="20">
            <use href="./img/sprite.svg#cabbage"></use>
          </svg>
        </a>
      </li>
      <li class="logo-item">
        <a href="../index.html" class="logo-link">Food Boutique</a>
      </li>
    </ul>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="../index.html" class="nav-link nav-home">Home</a>
        </li>
        <li class="nav-item item-cart">
          <a href="../partials/cart.html" class="nav-link nav-cart">
            <svg class="nav-icon" width="18" height="18">
              <use href="./img/sprite.svg#cart"></use>
            </svg>
          </a>

          <a class="cart-text" href="../partials/cart.html" id="cartLink">
            Cart (<span class="cartValue" id="cartCount">0</span>)
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script src="../js/header.js"></script>
