.cartValue {
}
.cart-icon {
  top: 24px;
  right: 24px;
}

.cart-delete-all-wrapper {
  display: flex;
  justify-content: end;
  margin-bottom: 46px;
}
.cart-delete-all {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;

  color: #010101;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
}
.cart-delete-all-icon {
  margin-left: 8px;
}

/* cart list  */

.cart-list {
}

/* order-box */

.order-box {
  padding: 80px 0px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .order-box {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1440px) {
  .order-box {
    padding: 0;
    margin: 0;
  }
}
.order-box-title {
  font-size: 24px;

  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .order-box-title {
    font-size: 32px;
  }
}
.order-box-total-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 240px;
  height: 60px;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  padding: 14px 18px;
  margin-bottom: 30px;
}

@media screen and (min-width: 375px) {
  .order-box-total-wrapper {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .order-box-total-wrapper {
    width: 590px;
    padding: 14px 28px;
    margin-bottom: 40px;
  }
}
.order-box-total-title {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
}

@media screen and (min-width: 768px) {
  .order-box-total-title {
    font-size: 20px;
    line-height: 1.2;
  }
}
.order-box-total-price {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
}
.order-box-total-price-var {
  color: #010101;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .order-box-total-price-var {
    font-size: 32px;
    line-height: 1;
  }
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .order-form {
    flex-direction: row;
    gap: 16px;
  }
}

.order-placeholder {
}

.order-box-input {
  width: 240px;
  font-size: 14px;
  line-height: 1.29;
  display: inline-flex;
  padding: 12px 20px 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
}

.order-box-input:focus,
.order-box-input:hover {
  outline: 2px solid #e8e8e24f;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 375px) {
  .order-box-input {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .order-box-input {
    width: 359px;
    font-size: 18px;
    line-height: 1.33;

    padding: 15px 20px 15px 20px;
  }
}

.order-placeholder-var {
}
.order-submit {
  width: 240px;
  display: inline-flex;
  padding: 12px 90px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: none;
  background: #6d8434;
  color: white;
}

@media screen and (min-width: 375px) {
  .order-submit {
    width: 335px;
    padding: 12px 138px;
  }
}
@media screen and (min-width: 768px) {
  .order-submit {
    width: 215px;
    padding: 15px 65px;
  }
}

@media screen and (min-width: 1440px) {
  .wraper-order-cart {
    display: flex;
    justify-content: space-between;
    padding: 46px 0;
    margin: 0 auto;
  }
}

/* cart item  */

.cart-list-scroll {
  height: 480px;
  overflow: auto;
}
.cart-product-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.cart-list {
  margin-top: 44px;
}
.cart-item {
  display: flex;
  margin-bottom: 60px;
  border-bottom: rgba(1, 1, 1, 0.1);
}
.cart-item:not(:last-child) {
  border-bottom: none;
}
.js-card {
}

.cart-product-delete:hover,
.cart-product-delete:focus {
  fill: var(--lightGreen);
}
.cart-product-delete {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  border: none;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-product-cart-delete {
}

.cart-product-img-box {
  background-color: #fafafa;
  padding: 18px;
  border-radius: 10px;
  margin-right: 20px;
}
.cart-img {
  width: 100px;
}
.cart-content {
}
.cart-content-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .cart-content-title {
    font-size: 20px;
    line-height: 1.2;
  }
  .cart-product-delete-icon {
    width: 20px;
    height: 20px;
  }
  .cart-product-img-box {
    margin-right: 40px;
  }
  .cart-product-container {
    justify-content: flex-start;
  }
  .cart-item {
    display: block;
  }
  .cart-product-delete {
    position: absolute;
    top: -5px;
    right: 39px;
  }
}
@media screen and (min-width: 1440px) {
  .cart-item {
    display: flex;
  }
  .cart-product-delete {
    position: absolute;
    top: -5px;
    right: -5px;
  }
}
.cart-content-list {
  display: flex;
}
.cart-content-item {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  line-height: 1.17;
}
.cart-content-item:first-child {
  margin-right: 8px;
}
.cart-content-item-var {
  font-size: 12px;
  line-height: 1.17;
}
.cart-content-bottom {
  padding-top: 36px;
}
.cart-content-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
@media screen and (min-width: 768px) {
  .cart-content-price {
    font-size: 20px;
    line-height: 1.2;
  }
}
.cart-content-bottom-addition {
  border-radius: 100px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-content-bottom {
  padding: 6px 4px;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-icon,
.minus-icon {
}

.quantity {
  font-size: 20px;
}

/* emty cart  */
.emty-cart {
  padding: 100px 48px;
}
.emty-cart-img {
  margin: 0 auto;
  margin-bottom: 28px;
}
.emty-cart-title {
  color: #010101;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 14px;
  text-align: center;
}
.accent {
  color: #6d8434;
}
.emty-cart-text {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}
