.cartValue {
}
.cart-icon {
  top: 24px;
  right: 24px;
}

.cart-delete-all-wrapper {
  display: flex;
  justify-content: end;
}
.cart-delete-all {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;

  color: #010101;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
}
.cart-delete-all-icon {
  margin-left: 8px;
}

/* cart list  */

.cart-list {
}

/* order-box */

.order-box {
}
.order-box-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.order-box-total-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-box-total-title {
}
.order-box-total-price {
}
.order-box-total-price-var {
}
.order-form {
}
.order-placeholder {
}

.order-box-input {
  margin-bottom: 14px;
}

.order-placeholder-var {
}
.order-submit {
}

/* cart item  */

.cart-list-scroll {
  height: 480px;
  overflow: auto;
}
.cart-product-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.cart-list {
  margin-top: 44px;
}
.cart-item {
  display: flex;
  margin-bottom: 60px;
  border-bottom: rgba(1, 1, 1, 0.1);
}
.cart-item:not(:last-child) {
  border-bottom: none;
}
.js-card {
}

.cart-product-delete:hover,
.cart-product-delete:focus {
  fill: var(--lightGreen);
}
.cart-product-delete {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  border: none;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-product-cart-delete {
}

.cart-product-img-box {
  background-color: #fafafa;
  padding: 18px;
  border-radius: 10px;
  margin-right: 20px;
}
.cart-img {
  width: 100px;
}
.cart-content {
}
.cart-content-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .cart-content-title {
    font-size: 20px;
    line-height: 1.2;
  }
  .cart-product-delete-icon {
    width: 20px;
    height: 20px;
  }
  .cart-product-img-box {
    margin-right: 40px;
  }
  .cart-product-container {
    justify-content: flex-start;
  }
  .cart-item {
    display: block;
  }
  .cart-product-delete {
    position: absolute;
    top: -5px;
    right: 39px;
  }
}
@media screen and (min-width: 1440px) {
  .cart-item {
    display: flex;
  }
  .cart-product-delete {
    position: absolute;
    top: -5px;
    right: -5px;
  }
}
.cart-content-list {
  display: flex;
}
.cart-content-item {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  line-height: 1.17;
}
.cart-content-item:first-child {
  margin-right: 8px;
}
.cart-content-item-var {
  font-size: 12px;
  line-height: 1.17;
}
.cart-content-bottom {
  padding-top: 36px;
}
.cart-content-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
@media screen and (min-width: 768px) {
  .cart-content-price {
    font-size: 20px;
    line-height: 1.2;
  }
}
.cart-content-bottom-addition {
}

/* emty cart  */
.emty-cart {
  padding: 100px 48px;
}
.emty-cart-img {
  margin: 0 auto;
  margin-bottom: 28px;
}
.emty-cart-title {
  color: #010101;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 14px;
  text-align: center;
}
.accent {
  color: #6d8434;
}
.emty-cart-text {
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}
