:root {
  --green: #6d8434;
  --white: #e8e8e2;
  --lightgrey: #e8e8e2;
}
/* Mobile (min-width 280px) */

.footer {
  background-color: var(--green);
  padding-top: 40px;
  padding-bottom: 20px;
}
.container {
  margin: 0 auto;
  max-width: 280px;
  padding: 0 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

.footer-box {
  margin-bottom: 80px;
}
.logo-link {
  display: flex;
  align-items: center;
}
.footer-left-box {
  margin-bottom: 40px;
}
.footer-logo {
  color: var(--white);
  font-family: QuincyCF;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
  width: 118px;
}
.with-logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.logo-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cabbage-item {
  background-color: var(--white);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-cabbage-icon {
  fill: var(--green);
  align-items: center;
  justify-content: center;
}
.social-media-list {
  display: flex;
  gap: 12px;
}
.footer-social-links {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(232, 232, 226, 0.3);
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.social-icon {
  fill: var(--lightgrey);
  opacity: 0.8;
}
.footer-text-box {
  margin-bottom: 80px;
}
.footer-text {
  color: var(--lightgrey);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
}
.footer-paragraph {
  color: rgba(232, 232, 226, 0.7);
  font-size: 14px;
  line-height: 1.28;
}
.subscribe-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subscribe-paragraph {
  color: var(--lightgrey);
  font-size: 14px;
  line-height: 1.28;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.subscribe-input {
  width: 100%;
  height: 42px;
  border-radius: 30px;
  border: 1px solid var(--lightgrey);
  background-color: var(--green);
}
.subscribe-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-size: 14px;
  line-height: 1.28;
  padding-left: 18px;
}

.send-btn {
  height: 42px;
  border-radius: 30px;
  border: 1px solid var(--lightgrey);
  background-color: var(--lightgrey);
  color: #010101;
}
.policy-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.policy-item {
  width: 202px;
}
.policy-paragraph {
  font-size: 14px;
  color: var(--lightgrey);
  opacity: 0.9;
  line-height: 1.29;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .footer-box {
    display: flex;
    margin-bottom: 80px;
  }
  .footer-left-box {
    margin-right: 78px;
    margin-bottom: 0;
  }
  .with-logo-container {
    margin-bottom: 24px;
  }
  .footer-logo {
    width: 197px;
    font-size: 24px;
    line-height: 1;
  }
  .cabbage-item {
    width: 32px;
    height: 32px;
  }
  .footer-social-links {
    width: 44px;
    height: 44px;
  }

  .footer-text {
    width: 429px;
    line-height: 1.1;
    font-size: 40px;
  }
  .footer-paragraph {
    font-size: 18px;
    line-height: 1.33;
  }
  .subscribe-paragraph {
    width: 312px;
    font-size: 18px;
    line-height: 1.33;
  }
  .subscribe-form {
    gap: 20px;
  }
  .subscribe-input {
    height: 48px;
  }
  .subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }
  .send-btn {
    height: 48px;
  }
  .policy-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 297px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 40px;
  }
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
  .footer-box {
    flex-direction: row;
    margin-bottom: 128px;
  }
  .footer-left-box {
    margin-right: 149px;
  }
  .text-subscribe-box {
    display: flex;
    flex-direction: row;
  }
  .footer-logo {
    width: 157px;
  }
  .footer-text-box {
    margin-right: 148px;
    gap: 20px;
  }
  .footer-text {
    margin: 0 0 20px 0;
  }
  .policy-list {
    gap: 833px;
  }
}
