.header {
  padding: 18px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .logo-list {
    gap: 8px;
  }
}

.logo-item:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--lightGreen);
}
@media screen and (min-width: 375px) {
  .logo-item:first-child {
    width: 28px;
    height: 28px;
  }
}
@media screen and (min-width: 768px) {
  .logo-item:first-child {
    width: 32px;
    height: 32px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-family: 'Quincy CF';
  font-size: 14px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
}
.logo-link:focus,
.logo-link:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 375px) {
  .logo-link {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .logo-link {
    font-size: 24px;
  }
}

.logo-icon {
  width: 12px;
  height: 12px;
  fill: var(--white);
}
.logo-icon:focus,
.logo-icon:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 375px) {
  .logo-icon {
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo-icon {
    width: 20px;
    height: 20px;
  }
}

.nav-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background-color: var(--lightGreen);
}
.nav-cart:focus,
.nav-cart:hover {
  background-color: var(--darkGreen);
}
@media screen and (min-width: 375px) {
  .nav-cart {
    width: 38px;
    height: 38px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 6px;
}
@media screen and (min-width: 375px) {
  .nav-list {
    gap: 16px;
  }
}

.nav-home {
  display: block;
  border-radius: 30px;
  background-color: var(--lightGreen);
  padding: 6px 14px;
  color: var(--white);
  font-family: Neue Montreal;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}
.nav-home:focus,
.nav-home:hover {
  background-color: var(--darkGreen);
  border: 1px solid transparent;
}

@media screen and (min-width: 375px) {
  .nav-home {
    padding: 10px 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .nav-home {
    padding: 12px 28px;
    font-size: 18px;
  }
}

.nav-icon {
  width: 10px;
  height: 10px;
  fill: var(--white);
}

@media screen and (min-width: 375px) {
  .nav-icon {
    width: 14px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) {
  .nav-con {
    width: 18px;
    height: 18px;
  }
}

.cartValue {
  display: none;
  color: var(--black);
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-weight: 500;
  line-height: 133%;
  text-transform: uppercase;
}
/* @media screen and (min-width: 768px) {
  .cartValue {
    display: block;
  }
} */

.item-cart {
  display: flex;
  align-items: center;
  gap: 14px;
}
