@import url('./home/hero.css');
@import url('./home/filters.css');
@import url('./home/popular_products.css');
@import url('./home/dscount_products.css');
@import url('./home/products_list.css');
@import url('./home/pagination.css');