body {
  background-color: #e8e8e2;
  color: #010101;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
}

.container {
  min-width: 260px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.popular-products {
  padding-top: 40px;
  padding-bottom: 40px;
}

.card-btn {
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;

  /* width: 20px;
  height: 20px; */
  border-radius: 30px;
  background: #e8e8e2;
  /* display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center; */
}

.title-popular-product {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 20px;
}
.popular_products_list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 12px;
}

.popular-card {
  display: flex;
  width: 335px;
  height: 98px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fafafa;
}

.popular-box {
  display: flex;
  flex-direction: row;
  padding: 14px;
}

.popular-container {
  display: flex;
}

.card-info-box {
  display: flex;
  flex-direction: column;
}

.popular-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 12px;
}
.popular-card-img-link {
  width: 74px;
  height: 74px;
  background: lightgray 50% / cover no-repeat;
  display: flex;
  align-items: center;
  padding: 9px;
  margin-right: 10px;
  border-radius: 10px;
  background: #e8e8e2;
}
.popular-info-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.prod .info-style {
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 17;
  gap: 9px;
}

.popular-info-wraper {
  display: flex;
  gap: 9px;
}

.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  /* stroke-width: 1px;
  stroke: rgba(1, 1, 1, 0.1); */
  fill: #6d8434;
}
/* .delete-container {
  display: flex;
  justify-content: flex-end;
}

.button-delete {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
}

.popular-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto; /* Додаємо вертикальний скролл, якщо кількість продуктів більше 3 */
/* max-height: 430px; Задаємо максимальну висоту контейнера для вертикального скроллу */
/* margin-bottom: 30px; */
/* } */

/* .popular-card {
  border: 2px dotted red;
  display: flex;
  max-width: 335px;
  margin-bottom: 30px;
  overflow-x: hidden;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
} */

/* .icon-product-cart {
  width: 167.5em;
} */

/* .popular-name {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12;
}



.product-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.product-container {
  width: 100%;
} */

/* .product-category {
  border: 2px dotted green;
} */

/* .empty-cart {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
} */

/* .info-style {
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 17;
}

.info-space {
  margin-left: 8px;
}

.product-info {
  margin-bottom: 36px;
} */
