<section class="filters">
  <div class="container">
    <form class="form" name="filters">
      <label class="form-label" for="textInput">Filters:</label>
      <input
        class="filters-input"
        type="text"
        id="textInput"
        name="search"
        placeholder="Search for anything"
      />
      <select
        class="filters-select"
        id="categoryFild"
        name="categories"
        aria-placeholder="Categories"
      >
        <option data-placeholder="true"></option>

        <option value="vegetable">vegetable</option>
        <option value="fruit">fruit</option>
      </select>
      <select
        class="filters-select"
        id="alpabetFild"
        name="alpabetSearch"
        aria-placeholder="A to Z"
      >
        <option data-placeholder="true"></option>
        <option value="option 1">option 1</option>
        <option value="option 2">option 2</option>
      </select>
    </form>
    <div class="temp__box"></div>
    <button class="temp__btn" type="button">Click</button>
  </div>
</section>
