<h2>Filters:</h2>

<form>

  <input 
    type="text"
    id="wordInput"
    placeholder="Search for anything"
  />

  <button 
  id="search_button"
  name="submitBtn"
  class="filter-button"
  type="submit" 
  aria-label="Search">
  Search
  </button>
 
  <!-- aria-haspopup="menu"  - открывает выпадающее меню
       aria-expanded="false" - выпадающее меню не открыто -->
  <button
  id="categorySelect"
  name="categoryBtn"
  class="filter-button"
  type="button"
  aria-haspopup="menu" 
  aria-expanded="false">
  Categories
  </button>

  <button
  id="sortProducts"
  name="sortСategoryBtn"
  class="filter-button"
  type="button"
  aria-haspopup="menu"
  aria-expanded="false">
  Sort
</button>

</form>
