<section class="hero">
    <div class="container-hero">
        <h1 class="h-one-hero">Welcome to the  <span class="hero-green-food"> Food </span> Boutique!</h1>
        <h2 class="h-two-hero">With Food Boutique, you're not just subscribing to food, you're signing up for a fresher, fitter, and happier you.</h2>
    
        <div class="hero-content">
            <picture class="hero-picture">
                <source
                    media="(min-width: 1280px)"
                    srcset="
                    ./img/desctop_hero@1x.jpg 1x,
                    ./img/desctop_hero@2x.jpg 2x
                    "
                />
            </picture>
        </div>
            <ul class="hero-ul">
                <li class="hero-li-one">

                </li>
                <li class="hero-li-two">

                </li>
            </ul>
    </div>
</section>