<section class="hero">
  <div class="container container-hero">
    <h1 class="h-one-hero">
      Welcome to the <span class="hero-green-food"> Food </span> Boutique!
    </h1>
    <p class="p-two-hero">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>

    <div class="hero-content">
      <img class="hero-organic-food" 
      src="../../img/organic_food@1x.png" 
      srcset="../../img/organic_food@1x.png 1x,
              ../../img/organic_food@2x.png 2x" 
      alt="text organic food" />
    </div>
  </div>
</section>