<div class="pagination-box">
  <button class="to_start pag_btn" type="button">
    <svg class="to_start_icon pag_icon" width="24" height="24">
      <use href="../../img/sprite.svg#double_left"></use>
    </svg>
  </button>
  <button class="previous pag_btn" type="button">
    <svg class="previous_icon pag_icon" width="24" height="24">
      <use href="../../img/sprite.svg#left"></use>
    </svg>
  </button>
  <button class="pag_btn number">1</button>
  <button class="pag_btn number current">2</button>
  <button class="pag_btn number">...</button>
  <button class="next pag_btn" type="button">
    <svg class="next_icon pag_icon" width="24" height="24">
      <use href="../../img/sprite.svg#right"></use>
    </svg>
  </button>
  <button class="to_end pag_btn" type="button">
    <svg class="to_end_icon pag_icon" width="24" height="24">
      <use href="../../img/sprite.svg#double_right"></use>
    </svg>
  </button>
</div>
